<nav class="navbar navbar-dark bg-dark">
   <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">
            <img src="assets/shopbridgelogo.png" height="25" width="85" hspace="15">
          </a>
      <a class="nav-item nav-link active" onclick="this.style.color='#EED202';" href="#" routerLink="/items">
          <img src="assets/ico_items.svg" onclick="this.style.color='#EED202';" height="23" width="25" hspace="15">Items
        </a>
    </div>  
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">
          
            <img src="assets/ico_notification.svg" height="25" width="85" style="display:inline">
        </a>
        <a class="nav-item nav-link active" href="#" >
            <img src="assets/ico_user.svg" height="25" width="85" >John Smith
        </a>
      <a class="nav-item nav-link active" href="#">
          <img src="assets/ico_downarrow.svg" height="25" width="10" >
      </a>
    </div>
  </div>
</nav>
